In [411]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

In [297]:
#intialising driver
driver=webdriver.Chrome( r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:¶
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ 
We need to find following details:
A) Rank 
B) Name 
C) Artist
D) Upload date 
E) Viewse

In [298]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [299]:
#getting the required URL
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [300]:
time.sleep(3)
insert=driver.find_element_by_xpath("//td[@class='mbox-text']/span[@class='plainlinks']/a[@class='external text']/i").click()

In [301]:
time.sleep(3)
insert1=driver.find_element_by_xpath("//li[1]/div[@class='mw-search-result-heading']/a").click()

In [302]:
#scraping the rank
rank=driver.find_elements_by_xpath("//tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)#appending rank
    
time.sleep(5)

#scraping the name
name=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in name[:30]:
    Name.append(i.text)#appending name
    
time.sleep(5)

#scraping the artist
artist=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)#appending artist name
    
time.sleep(5)

#scraping upload date
upload=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in upload[:30]:
    Upload_Date.append(i.text)#appending upload date
    
time.sleep(5)

#scraping views
views=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)#appending total no of views

In [303]:
#checking the length of each list
print(len(Rank))
print(len(Name))
print(len(Artist))
print(len(Upload_Date))
print(len(Views))

30
30
30
30
30

In [304]:
#creating a dataframe
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload_Date,'Views':Views})

df

,Rank,Name,Artist,Upload Date,Views
0,,hide\nThis article has multiple issues. Please...,Pinkfong Kids' Songs & Stories,"June 17, 2016",9.27
1,,This article needs additional citations for ve...,Luis Fonsi,"January 12, 2017",7.52
2,,This article needs to be updated. (July 2021),LooLoo Kids,"October 8, 2016",5.68
3,,This section possibly contains original resear...,Ed Sheeran,"January 30, 2017",5.45
4,1.,"""Baby Shark Dance""[23]",Wiz Khalifa,"April 6, 2015",5.25
5,2.,"""Despacito""[25]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.49
6,3.,"""Johny Johny Yes Papa""[26]",Miroshka TV,"February 27, 2018",4.46
7,4.,"""Shape of You""[27]",Get Movies,"January 31, 2012",4.46
8,5.,"""See You Again""[28]",Mark Ronson,"November 19, 2014",4.28
9,6.,"""Bath Song""[31]",Psy,"July 15, 2012",4.18
10,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",ChuChu TV,"March 6, 2014",4.14
11,8.,"""Masha and the Bear – Recipe for Disaster""[33]",El Chombo,"April 5, 2018",3.57
12,9.,"""Uptown Funk""[34]",Maroon 5,"January 14, 2015",3.54
13,10.,"""Gangnam Style""[35]",Justin Bieber,"October 22, 2015",3.46
14,11.,"""Phonics Song with Two Words""[37]",Katy Perry,"September 5, 2013",3.42
15,12.,"""Dame Tu Cosita""[38]",OneRepublic,"May 31, 2013",3.38
16,13.,"""Sugar""[39]",Ed Sheeran,"October 7, 2014",3.31
17,14.,"""Sorry""[40]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.24
18,15.,"""Roar""[41]",Katy Perry,"February 20, 2014",3.14
19,16.,"""Counting Stars""[42]",Alan Walker,"December 3, 2015",3.13
20,17.,"""Thinking Out Loud""[43]",Maroon 5,"May 31, 2018",3.11
21,18.,"""Wheels on the Bus""[44]",Taylor Swift,"August 18, 2014",3.09
22,19.,"""Dark Horse""[45]",Major Lazer,"March 22, 2015",3.09
23,20.,"""Faded""[46]",Enrique Iglesias,"April 11, 2014",3.09
24,21.,"""Girls Like You""[47]",Passenger,"July 25, 2012",3.07
25,22.,"""Shake It Off""[48]",Crazy Frog,"June 16, 2009",2.98
26,23.,"""Lean On""[49]",J Balvin,"June 29, 2017",2.97
27,24.,"""Bailando""[50]",Ed Sheeran,"November 9, 2017",2.94
28,25.,"""Let Her Go""[51]",Shakira,"June 4, 2010",2.93
29,26.,"""Axel F""[52]",Adele,"October 22, 2015",2.88

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [364]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [365]:
# creating empty lists for scraping data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [366]:
#Getting the website to driver
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [367]:
#Clicking international fixture section
international=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international.get_attribute('href'))

In [368]:
#Scrapping the data having the match name
name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)

#Scrapping the data having the series name
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
#Scrapping the data having the place of match
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
#Scrapping the data having the match date
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  #Only date
month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  #Month
for i in range(len(date)):
    Date.append(date[i].text + month[i].text)  #Appending date and month texts together
    
#Scrapping the data having match time
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")
for i in time:
    Time.append(i.text)

In [369]:
#checking the length of each list
print(len(Match_title))
print(len(Series))
print(len(Place))
print(len(Date))
print(len(Time))

7
7
7
7
7

In [370]:
#creating a dataframe
df1=pd.DataFrame({'Match Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

df1

,Match Title,Series,Place,Date,Time
0,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
1,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST
2,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",24OCTOBER,19:30 IST
3,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",31OCTOBER,19:30 IST
4,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
5,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",05NOVEMBER,19:30 IST
6,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",08NOVEMBER,19:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [320]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [321]:
# creating empty lists for scraping data
Name=[]
Description=[]

In [322]:
#Getting the website to driver
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [323]:
#Clicking on the selenium tutorial page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

#Clicking on the selenium exception tutorial page
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [324]:

#Scrapping the data having exception names
name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the description details  
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    Description.append(i.text)
    
#Checking the length of the data scrapped
print(len(Name),len(Description))

41 41

In [325]:
#Creating a dataframe for the scrapped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [326]:
#Closing the driver
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [327]:
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [328]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP19_20=[]
GSDP18_19=[]
Share18_19=[]
GDP=[]

In [329]:
#Getting the website to driver
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [330]:
#Clicking the economy tab and then India option
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [331]:
#Clicking on GDP of Indian states option
gdp=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [332]:
#Scrapping the data having rank of the states
rank=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
#Scrapping the data having State name
state=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
#Scrapping the data having GSDP 19-20 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
    GSDP19_20.append(i.text)
    
#Scrapping the data having GSDP 18-19 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
    GSDP18_19.append(i.text)
    
#Scrapping the data having Share 18-19 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
    Share18_19.append(i.text)
    
#Scrapping the data having GDP billions data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [333]:
#checking the length of each list
print(len(Rank))
print(len(State))
print(len(GSDP19_20))
print(len(GSDP18_19))
print(len(GDP))

66
66
66
66
66

In [334]:
#Creating a dataframe for the scrapped data
GDP_data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP19_20,'GSDP(18-19)':GSDP18_19,'Share(18-19)':Share18_19,
                      'GDP($ billion)':GDP})
GDP_data

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [335]:
#Closing the driver
driver.close()

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [394]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [395]:
#Getting the website to driver
driver.get('https://github.com/')
driver.maximize_window()

In [396]:
#Clicking explore tab and trending option using exception
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

In [397]:
#Creating empty lists for storing the scrapped data
rep_title=[]
rep_desc=[]
Count=[]
Lang=[]

#Scrapping the data having the repository title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    rep_title.append(i.text)
    
#Scrapping the data having the repository description
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    rep_desc.append(i.text)
    
#Scrapping the data having the contributors count
count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    Count.append(i.text)
    
#Scrapping the data having the language used 
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None:
        Lang.append('Not Available')
    else:
        Lang.append(i.text)

In [398]:
#Checking out the length of scrapped data
print(len(rep_title),len(rep_desc),len(Count),len(Lang))

25 25 25 23

In [399]:
#Creating a dataframe for the scrapped data
github=pd.DataFrame({})
github['Repository title']=rep_title[:21]
github['Description']=rep_desc[:21]
github['Contributors count']=Count[:21]
github['Language used']=Lang[:21]
github

,Repository title,Description,Contributors count,Language used
0,GTAmodding / re3,"GTA III, Vice City",791,C++
1,VickScarlet / lifeRestart,やり直すんだ。そして、次はうまくやる。,"1,122",JavaScript
2,lootproject / website,Loot Project website,73,TypeScript
3,TheAlgorithms / Python,All Algorithms implemented in Python,"31,416",Python
4,Anish-Agnihotri / dhof-loot,Scripts to collect statistics about LOOT + der...,47,JavaScript
5,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,"4,066",C++
6,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"26,370",Python
7,microsoft / PowerToys,Windows system utilities to maximize productivity,"3,281",C#
8,openwrt / openwrt,This repository is a mirror of https://git.ope...,"6,169",C
9,v2fly / v2ray-core,A platform for building proxies to bypass netw...,"1,890",Go
10,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,"14,928",C++
11,HashLips / generative-art-opensource,Create generative art by using the canvas api ...,108,JavaScript
12,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,704,Assembly
13,metaplex-foundation / metaplex,Protocol and application framework for decentr...,"1,236",Rust
14,armosec / kubescape,kubescape is the first tool for testing if Kub...,104,Go
15,wrfree / free,freefq账号已恢复！翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ra...,32,TypeScript
16,bespoyasov / frontend-clean-architecture,React + TypeScript app built using clean archi...,32,JavaScript
17,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,"2,345",JavaScript
18,0voice / Introduction-to-Golang,【未来服务器端编程语言】最全空降golang资料补给包（满血战斗），包含文章，书籍，作者论文...,424,Java
19,iptv-org / iptv,Collection of publicly available IPTV channels...,"3,191",JavaScript
20,Anuken / Mindustry,A sandbox tower defense game,"1,665",JavaScript

# 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [192]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [193]:
#getting the required Url
driver.get("https://www.billboard.com/")

In [194]:
# creating empty lists for scraping data
song_name = []
artist_name  = []
last_week_rank  = []
peak_rank  = []
weeks_on_board = []

In [195]:
time.sleep(5)

In [196]:
insert = driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div[@class='header__main-menu__wrapper flex--grow']/ul/li[1]/a").click()

In [191]:
time.sleep(5)

In [85]:
insert2 = driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div")
insert2.click()

In [86]:
time.sleep(4)

In [87]:
#scraping name
name = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in name:
    song_name.append(i.text)#appending song name
    
time.sleep(3)

#scraping artist name
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in artist:
    artist_name.append(i.text)#appending artist name
    
time.sleep(3)

#scraping last week rank
week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in week:
    last_week_rank.append(i.text)#appending last week rank
    
time.sleep(3)

#scraping peak rank
peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    peak_rank.append(i.text)#appending peak rank
    
time.sleep(3)

#scraping weeks on board
week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week:
    weeks_on_board.append(i.text)#appending weeks on board

In [88]:
#checking the length of each list
print(len(song_name))
print(len(artist_name))
print(len(last_week_rank))
print(len(peak_rank))
print(len(weeks_on_board))

100
100
100
100
100

In [89]:
#creating a dataframe
df5=pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Weeks On Board':weeks_on_board})

df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [101]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [102]:
driver.get("https://www.naukri.com/")

In [103]:
# creating empty lists for scraping data
name  = []
designation  = []
company  = []
skills   = []
location = []

In [104]:
#closing unnecessary pop windows by using window handler and applying filter in the Url
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
driver.switch_to_window(driver.window_handles[0])
time.sleep(10)
Task1 = driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()
time.sleep(10)
Task2 = driver.find_element_by_xpath("//div[@class='userPrompt animate']//span[1]")
Task2.click()
time.sleep(10)
Task3 = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
Task3.click()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
time.sleep(5)
Task4 = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
Task4.send_keys('Data Science')
time.sleep(10)
Task5 = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
Task5.click()
time.sleep(5)

In [105]:
#scraping name
Name = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='fl ellipsis']")
for i in Name:
    name.append(i.text)#appending name
    
time.sleep(3)  

#scraping designation
Designation = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
for i in Designation:
    designation.append(i.text)#appending designation
    
time.sleep(3)  

#scraping company name
Company = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in Company:
    company.append(i.text)#appending company name

time.sleep(3)  

#scraping skills required
Skills= driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
for i in Skills:
    skills.append(i.text)#appending skills required

In [106]:
## scraping location, for scraping location we have to go in each of the location separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")]#getting the url
for url in urls[0:50]:
    time.sleep(5)
    try:            #exception handling for nosuchelementexception
        
        driver.get(url)
        Location=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a").text
        
        location.append(Location)#appending location in location list
    except NoSuchElementException :
        location.append(" ")#appending no location if no such location is there

In [107]:
#checking the length of each list
print(len(name))
print(len(designation))
print(len(company))
print(len(skills))
print(len(location))

50
50
50
50
50

In [108]:
#creating a dataframe
df7=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills':skills,'Location':location})

df7

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [109]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [110]:
#getting the required url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [111]:
# creating empty lists for scraping data
book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []

In [112]:
#scraping book name
book = driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in book:
    book_name.append(i.text)#appending book name

#scraping author name
author = driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in author:
    author_name.append(i.text)#appending author name

#scraping volumes sold
volume = driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in volume:
    volumes_sold.append(i.text)#appending volumes of books sold

#scraping publisher 
publish = driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in publish:
    publisher.append(i.text)#appending publisher name

#scraping genre
Genre = driver.find_elements_by_xpath("//tbody/tr/td[6]")
for i in Genre:
    genre.append(i.text)#appending genre

In [113]:
#checking the length of each list
print(len(book_name))
print(len(author_name))
print(len(volumes_sold))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [114]:
#creating a dataframe
df8=pd.DataFrame({'Book Name':book_name,'AUthor Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})

df8

,Book Name,AUthor Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [115]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [116]:
#getting the required url
driver.get("https://www.imdb.com/list/ls095964455/")

In [117]:
# creating empty lists for scraping data
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

In [118]:
#scraping name
Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in Name:
    name.append(i.text)#appending movie name
    
#scraping year
Year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in Year:
    year.append(i.text)#appending year of release

#scraping genre
Genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in Genre:
    genre.append(i.text)#appending genre

#scraping runtime
rt=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in rt:
    runtime.append(i.text)#appending runtime

#scraping ratings
Rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in Rating:
    ratings.append(i.text)#appending ratings

#scraping votes
Votes=driver.find_elements_by_xpath("//p[4][@class='text-muted text-small']/span[2]")
for i in Votes:
    votes.append(i.text)#appending votes

In [119]:
#checking the length of each list
print(len(name))
print(len(year))
print(len(genre))
print(len(runtime))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [120]:
#creating a dataframe
df9=pd.DataFrame({'Name':name,'Year':year,'Genre':genre,'Run Time':runtime,'Ratings':ratings,'Votes':votes})

df9

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,867,171"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"902,780"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"894,418"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,212"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,463"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,477"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,355"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,330"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,480"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"198,157"

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [401]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [402]:
#Getting the website to driver
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

In [403]:
#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [404]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [405]:
#Scrapping the data having dataset name
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')
        
#Scrapping the data having no of instances
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#Scrapping the data having the year details
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [406]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [407]:
#Closing the driver
driver.close()